.image-replacement {
  text-indent: -9999px !important;
}
body {
  margin: 0;
  font-family: pt-sans-caption, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: pt-sans-narrow, serif;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
  text-transform: uppercase;
}
small {
  opacity: 0.7;
}
a {
  color: #3fa757;
  text-decoration: none;
}
a:hover {
  background-color: #3fa757;
  color: #fff;
}
p {
  text-align: justify;
}
div.maincontent {
  max-width: 1000px;
  margin: auto;
  margin-top: 40px;
  padding: 40px;
}
div.menubar {
  float: right;
  font-family: pt-sans-narrow, serif;
  font-size: 30px;
}
.title {
  display: block;
  margin-bottom: 0px;
  font-family: pt-sans-narrow, serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-rendering: optimizelegibility;
}
.post {
  color: #444;
  padding: 10px 15px;
  border-radius: 4px;
}
.post p {
  color: #999;
}
.post .date {
  float: right;
}
.post:hover {
  background-color: #EEE;
}
pre {
  padding: 4px;
  margin: 0px 20px;
}
code {
  background-color: #EEE;
  padding: 4px;
  border-radius: 4px;
}
.btn {
  display: inline-block;
  background-color: #3fa757;
  border: none;
  border-bottom: solid 5px #3F9152;
  color: #fff;
  padding: 5px;
  font-family: pt-sans-caption, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}
button.btn:hover {
  border-bottom: solid 3px #3F9152;
  border-top: solid 2px #FFF;
  opacity: 0.8;
}
.page_content {
  margin: 50px 0px;
}
.page_content h2 {
  font-size: 30px;
  padding-bottom: 10px;
  margin-top: 40px;
  border-bottom: solid 2px #A3D9AF;
}
.page_content h3 {
  font-size: 20px;
  margin-top: 40px;
}
.page_content h4 {
  font-size: 20px;
  margin-top: 40px;
  margin-left: 40px;
}
.page_content img {
  max-width: 100%;
}
.comments {
  width: 100%;
  margin-bottom: 20px;
}
.comments div.comment {
  background-color: #eee;
  padding: 10px;
  margin: 10px 0px;
  opacity: 0.7;
}
.comments div.comment img {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 68px;
}
.comments div.comment:hover {
  opacity: 1;
}
.comments div.comment .name {
  font-size: 16px;
  font-weight: bold;
}
.comments div.comment .date {
  float: right;
}
.comments form fieldset {
  border: none;
  padding: 0px;
  margin: 0px;
}
.comments form span.field {
  border: solid 4px #ddd;
  padding: 3px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
.comments form span.field.fullw {
  display: block;
  margin-right: 0px;
}
.comments form input,
.comments form textarea {
  border: none;
  font-size: 14px;
  font-family: pt-sans-caption, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.comments form input:focus,
.comments form textarea:focus {
  outline: none;
}
.comments form textarea {
  display: block;
  width: 99%;
  height: 45px;
}
.comments form .btn {
  font-size: 16px;
}
.comments form .alert-error {
  background-color: #F88;
  padding: 3px;
  margin-left: 2px;
  color: #fff;
  margin-bottom: 10px;
}
.footer {
  margin-top: 60px;
  border-top: solid 3px #3fa757;
  background-image: url('../../img/layout/bg_pattern_dark.png');
  background-color: #252525;
  min-height: 150px;
  color: #DDD;
}
.footer .content {
  max-width: 1000px;
  margin: auto;
  padding: 40px 40px;
  position: relative;
}
.footer .content a.forkme {
  background-image: url('../../img/layout/forkme.png');
  background-position: bottom;
  background-repeat: no-repeat;
  width: 75px;
  height: 141px;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  text-indent: -9999px !important;
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.footer .content a.forkme:hover {
  background-color: transparent;
  background-position: 0px -20px;
  opacity: 0.8;
}
