.prettyprint {
  overflow: auto;
  white-space: pre-wrap;
  background-color: #222;
  font-family: Monaco, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  padding: 10px;
  cursor: text;
}
@media all and (max-width: 768px) {
  .prettyprint code {
    min-width: 500px;
    display: block;
  }
}
.prettyprint ol {
  color: #777;
  padding: 2em 3em 2em 5em;
}
.prettyprint code {
  background-color: transparent;
  font-family: Monaco, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  padding: 0;
  border-radius: 0;
}
.prettyprint ol li {
  padding: 0;
}
.prettyprint span {
  color: #AAA;
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.prettyprint:hover .com {
  color: #555;
}
.prettyprint:hover .lit {
  color: #17CFB6;
}
.prettyprint:hover .pun,
.prettyprint:hover .opn,
.prettyprint:hover .clo {
  color: #93a1a1;
}
.prettyprint:hover .fun {
  color: #dc322f;
}
.prettyprint:hover .str,
.prettyprint:hover .atv {
  color: #E3B446;
}
.prettyprint:hover .kwd,
.prettyprint:hover .linenums .tag {
  color: #DB613B;
}
.prettyprint:hover .typ,
.prettyprint:hover .atn,
.prettyprint:hover .dec,
.prettyprint:hover .var {
  color: #fff;
}
.prettyprint:hover .pln {
  color: #ccc;
}
